<div class="change-password-page">
    <!-- LOGIN LEFT -->
    <app-auth-panel />
    <!-- LOGIN RIGHT -->
    <div class="change-password-form">
        <div class="auth">
            <div>
                <h2>Hi, How Are You !</h2>
                <h4>The password should be changed every three months</h4>
                <form>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Current Password</mat-label>
                            <input matInput type="password" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput type="password" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Confirmed Password</mat-label>
                            <input matInput type="password" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <button class="btn-submit" mat-raised-button>SUBMIT</button>
                    </div>
                </form>
                <div class="login">
                    <a mat-list-item routerLink="/auth/login"><span class="sidenav-section">Back to login</span></a>
                </div>
                <div class="divider"><mat-divider/></div>
                <span class="alert">User name or password is incorrect</span>
            </div>
        </div>
    </div>
</div>