<div class="contact">
    <div class="title">
        <h1>Contact</h1>
    </div>
    <div class="btn-add">
        <button mat-mini-fab color="primary">
            <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
        </button>
    </div>
    <div>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput>
                <button matSuffix mat-button><mat-icon>search</mat-icon></button>
            </mat-form-field>
        </form>
    </div>
    <div class="contacts">
        <mat-list>
            <mat-list-item>
                <div class="contact-infor">
                    <div class="icon">
                        <img src="../../../assets/tony.jpg">
                    </div>
                    <div class="name">
                        <a [routerLink]="['/chat/contact/1']">
                            <h3>Toney Stack</h3>
                        </a>
                    </div>
                    <div class="action">
                        <button mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="contact-infor">
                    <div class="icon">
                        <img src="../../../assets/tony.jpg">
                    </div>
                    <div class="name">
                        <a [routerLink]="['/chat/contact/1']">
                            <h3>Toney Stack</h3>
                        </a>
                    </div>
                    <div class="action">
                        <button mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="contact-infor">
                    <div class="icon">
                        <img src="../../../assets/tony.jpg">
                    </div>
                    <div class="name">
                        <a [routerLink]="['/chat/contact/1']">
                            <h3>Toney Stack</h3>
                        </a>
                    </div>
                    <div class="action">
                        <button mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="contact-infor">
                    <div class="icon">
                        <img src="../../../assets/tony.jpg">
                    </div>
                    <div class="name">
                        <a [routerLink]="['/chat/contact/1']">
                            <h3>Toney Stack</h3>
                        </a>
                    </div>
                    <div class="action">
                        <button mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="contact-infor">
                    <div class="icon">
                        <img src="../../../assets/tony.jpg">
                    </div>
                    <div class="name">
                        <a [routerLink]="['/chat/contact/1']">
                            <h3>Toney Stack</h3>
                        </a>
                    </div>
                    <div class="action">
                        <button mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="contact-infor">
                    <div class="icon">
                        <img src="../../../assets/tony.jpg">
                    </div>
                    <div class="name">
                        <a [routerLink]="['/chat/contact/1']">
                            <h3>Toney Stack</h3>
                        </a>
                    </div>
                    <div class="action">
                        <button mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="contact-infor">
                    <div class="icon">
                        <img src="../../../assets/tony.jpg">
                    </div>
                    <div class="name">
                        <a [routerLink]="['/chat/contact/1']">
                            <h3>Toney Stack</h3>
                        </a>
                    </div>
                    <div class="action">
                        <button mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="contact-infor">
                    <div class="icon">
                        <img src="../../../assets/tony.jpg">
                    </div>
                    <div class="name">
                        <a [routerLink]="['/chat/contact/1']">
                            <h3>Toney Stack</h3>
                        </a>
                    </div>
                    <div class="action">
                        <button mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="contact-infor">
                    <div class="icon">
                        <img src="../../../assets/tony.jpg">
                    </div>
                    <div class="name">
                        <a [routerLink]="['/chat/contact/1']">
                            <h3>Toney Stack</h3>
                        </a>
                    </div>
                    <div class="action">
                        <button mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="contact-infor">
                    <div class="icon">
                        <img src="../../../assets/tony.jpg">
                    </div>
                    <div class="name">
                        <a [routerLink]="['/chat/contact/1']">
                            <h3>Toney Stack</h3>
                        </a>
                    </div>
                    <div class="action">
                        <button mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="contact-infor">
                    <div class="icon">
                        <img src="../../../assets/tony.jpg">
                    </div>
                    <div class="name">
                        <a [routerLink]="['/chat/contact/1']">
                            <h3>Toney Stack</h3>
                        </a>
                    </div>
                    <div class="action">
                        <button mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>