<div class="chat-box">
    <div class="message-box">
        <div class="receiver-info">
            <div class="avatar">
                <img src="../../../assets/tony.jpg">
            </div>
            <div class="name">
                <label>Tony Stack</label>
                <h5><i>online</i></h5>
            </div>
            <div class="search">
                <form>
                    <mat-form-field appearance="outline">
                        <mat-label>Search</mat-label>
                        <input matInput>
                        <button matSuffix mat-button><mat-icon>search</mat-icon></button>
                    </mat-form-field>
                </form>
            </div>
            <div class="phone">
                <button mat-icon-button color="primary">
                    <mat-icon aria-hidden="false" fontIcon="phone"></mat-icon>
                </button>
            </div>
            <div class="phone">
                <button mat-icon-button color="primary">
                    <mat-icon aria-hidden="false" fontIcon="video_call"></mat-icon>
                </button>
            </div>
        </div>
        <mat-divider/>
        <div class="message-sending">
            <div class="partner-message">
                <div class="content">
                    Hi!, how are you, Hi! Hi!, how are you, Hi! Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you
                    Hi!, how are you, Hi! Hi!, how are you, Hi! Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you
                </div>
                <h6>10:30 pm</h6>
            </div>
            <div class="partner-message">
                <div class="content">
                    Hi!, how are you, Hi! Hi!, how are you, Hi! Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you
                    Hi!, how are you, Hi! Hi!, how are you, Hi! Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you
                </div>
                <h6>10:30 pm</h6>
            </div>
            <div class="partner-message">
                <div class="content">
                    Hi!, how are you, Hi! Hi!, how are you, Hi! Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you
                    Hi!, how are you, Hi! Hi!, how are you, Hi! Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you
                </div>
                <h6>10:30 pm</h6>
            </div>
            <div class="your-message">
                <div class="content">
                    Hi!, how are you, Hi! Hi!, how are you, Hi! Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you
                    Hi!, how are you, Hi! Hi!, how are you, Hi! Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you
                </div>
                <h6>10:30 pm</h6>
            </div>
            <div class="your-message">
                <div class="content">
                    Hi!, how are you, Hi! Hi!, how are you, Hi! Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you
                    Hi!, how are you, Hi! Hi!, how are you, Hi! Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you
                </div>
                <h6>10:30 pm</h6>
            </div>
            <div class="your-message">
                <div class="content">
                    Hi!, how are you, 
                </div>
                <h6>10:30 pm</h6>
            </div>
            <div class="partner-message">
                <div class="content">
                    Hi!, how are you, Hi! Hi!, how are you, Hi! Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you
                    Hi!, how are you, Hi! Hi!, how are you, Hi! Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you, Hi!, how are you
                </div>
                <h6>10:30 pm</h6>
            </div>
        </div>
        <div class="chat-input">
            <div class="tool-box">
                <button mat-icon-button color="primary">
                    <mat-icon aria-hidden="false" fontIcon="attach_file"></mat-icon>
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon aria-hidden="false" fontIcon="insert_emoticon"></mat-icon>
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon aria-hidden="false" fontIcon="insert_photo"></mat-icon>
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon aria-hidden="false" fontIcon="contacts"></mat-icon>
                </button>
            </div>
            <form class="message-input">
                <div class="text-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Message here</mat-label>
                        <textarea matInput rows="1"></textarea>
                    </mat-form-field>
                </div>
                <div class="send-button">
                    <button mat-icon-button color="primary">
                        <mat-icon aria-hidden="false" fontIcon="send"></mat-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="message-media">
        <div class="media">
            <h5>MEDIA</h5>
            <mat-divider/>
            <div class="photos">
                <ul>
                    <li>
                        <img src="../../../assets/tony.jpg">
                    </li>
                    <li>
                        <img src="../../../assets/tony.jpg">
                    </li>
                    <li>
                        <img src="../../../assets/tony.jpg">
                    </li>
                    <li>
                        <img src="../../../assets/tony.jpg">
                    </li>
                    <li>
                        <img src="../../../assets/tony.jpg">
                    </li>
                </ul>
            </div>
        </div>
        <div class="attachments">
            <h5>FILES</h5>
            <mat-divider/>
            <br>
            <div class="files">
                <div class="file">
                    <div class="file-name"><h5><a href="#">File1.txt</a></h5></div>
                    <div>
                        <mat-icon aria-hidden="false" fontIcon="download"></mat-icon>
                    </div>
                </div>
                <div class="file">
                    <div class="file-name"><h5><a href="#">File1.txt</a></h5></div>
                    <div>
                        <mat-icon aria-hidden="false" fontIcon="download"></mat-icon>
                    </div>
                </div>
                <div class="file">
                    <div class="file-name"><h5><a href="#">File1.txt</a></h5></div>
                    <div>
                        <mat-icon aria-hidden="false" fontIcon="download"></mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>