.forgot-password-page {
    background-color: #4DAC6D;
    height: 95%;
    padding-top: 2%;
}

.forgot-password-form {
    background-color: white;
    width: 60%;
    height: 96%;
    border-radius: 10px;
    margin-left: 36%;
    padding-top: 1%;
}

.forgot-password-form .auth {
    width: 50%;
    height: 96%;
    margin: auto;
    text-align: center;
}

.forgot-password-form .auth h2{
    font-family: 'Edu TAS', cursive;
}

.forgot-password-form .auth h4{
    color: #777C81;
    font-family: 'Edu TAS', cursive;
    margin-bottom: 7%;
}

.forgot-password-form mat-form-field{
    width: 90%;
    margin-bottom: 7%;
}

.forgot-password-form .btn-submit{
    width: 90%;
    color: white;
    background-color: #31af36;
    height: 45px;
    margin-bottom: 20px;
}

.forgot-password-form .alert{
    color: #FF6600;
}

.forgot-password-form .login {
    text-align: right;
    padding-right: 20px;
    margin-bottom: 20px;
}

.forgot-password-form .login a{
    color: #bbbbbb;
    text-decoration: none;
}

.forgot-password-form .divider{
    width: 70%;
    margin: auto;
    margin-bottom: 5%;
}