<div class="forgot-password-page">
    <!-- LOGIN LEFT -->
    <app-auth-panel />
    <!-- LOGIN RIGHT -->
    <div class="forgot-password-form">
        <div class="auth">
            <div>
                <h2>Hi, How Are You !</h2>
                <h4>Recovering the password. Please input your email here that you used to register with us</h4>
                <form>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput required>
                            <mat-hint align="end">examle@gmail.com</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <button class="btn-submit" mat-raised-button>SUBMIT</button>
                    </div>
                </form>
                <div class="login">
                    <a mat-list-item routerLink="/auth/login"><span class="sidenav-section">Back to login</span></a>
                </div>
                <div class="divider"><mat-divider/></div>
                <span class="alert">User name or password is incorrect</span>
            </div>
        </div>
    </div>
</div>